<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>152006776066-9i8gihv6uqulu755if0pmb7domnlvsn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152006776066-9i8gihv6uqulu755if0pmb7domnlvsn2</string>
	<key>API_KEY</key>
	<string>AIzaSyCZX_vaqsVtohsRJcVOJtzaXi6vOOUbl80</string>
	<key>GCM_SENDER_ID</key>
	<string>152006776066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.biannetta.app</string>
	<key>PROJECT_ID</key>
	<string>wineapp-1f5fc</string>
	<key>STORAGE_BUCKET</key>
	<string>wineapp-1f5fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152006776066:ios:d404ea5ac6b0d19f</string>
	<key>DATABASE_URL</key>
	<string>https://wineapp-1f5fc.firebaseio.com</string>
</dict>
</plist>